/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.orange {
  background-color: orange;
}
body {
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
/* ===================
	Top navigation
===================== */
.navbar {
  background-color: white;
}
.navbar .nav li a {
  padding: 12px 15px 12px;
}
.navbar .brand {
  padding: 13px 10px 13px 28px ;
}
.navbar-dotcloud .container {
  border-bottom: 2px #000000 solid;
}
/* ===================
	Page title bar
===================== */
h1.pageheader {
  color: #ffffff;
  font-size: 24px;
  font-family: "Arial Black", Tahoma, sans-serif;
  margin: 8px;
}
/* ===================
	Hero unit
===================== */
.hero-unit {
  background-color: #292e33;
}
.hero-unit h5 {
  color: #ffffff;
}
/* ===================
	Main content layout
===================== */
.contentblock {
  border-width: 3px;
  border-style: solid;
  border-color: #eeeeee;
}
/* ===================
	left navigation
===================== */
.dotcloudsidebar {
  float: left;
  height: 100%;
  top: 0px;
  bottom: 0px;
  position: relative;
  min-height: 100%;
  margin-top: 78px;
  margin-bottom: 22px;
}
.border-box {
  box-sizing: border-box;
  padding: 20px;
  background-color: #111188;
  color: white;
}
.titlebar {
  background-color: #000000;
  margin-top: 0px;
  margin-bottom: 20px;
  min-height: 40px;
  color: white;
  box-sizing: border-box;
  padding: 12px;
}
/* This is the default */
.span6.with-padding {
  background-color: #111188;
  height: 200px;
  color: white;
  padding: 10px;
}
/* =======================
   Row size
======================= */
.row1 {
  background-color: #999999;
  height: 100%;
  position: relative;
}
/* =======================
   Media size overrides
======================= */
/* Large desktop */
@media (min-width: 1200px) {
  .span6.with-padding {
    background-color: #dc143c;
    width: 540px;
    padding: 15px;
  }
}
/* Normal desktop */
@media (min-width: 980px) and (max-width: 1199px) {
  .span6.with-padding {
    background-color: #ee1111;
    width: 440px;
    padding: 10px;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  body {
    padding-top: 0px;
  }
  .span6.with-padding {
    background-color: #292e33;
    width: 332px;
    padding: 10px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body {
    padding-top: 0px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  
}
