# If you want to ignore files created by your editor/tools, please consider a
# [global .gitignore](https://help.github.com/articles/ignoring-files).

*~
*.bak
*.orig
.*.swp
.DS_Store
thumbs.db

# local repository customization
.envrc
.bashrc
.editorconfig

# build artifacts
bundles/
cli/winresources/*/*.syso
cli/winresources/*/winres.json
contrib/builder/rpm/*/changelog

# ci artifacts
*.exe
*.gz
go-test-report.json
junit-report.xml
profile.out
test.main
/go.mod
/dockerd
/docker-proxy
