receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:

exporters:
  file:
    flush_interval: 1s
    rotation:
      max_megabytes: 18   # Jaeger will reject file uploads larger than 20MB by default
    # path: /data/metrics.json

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [file]
