.debug {
  border: 2px dotted red !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  min-width: 940px;
  font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p a {
  text-decoration: underline;
}
p a.btn {
  text-decoration: none;
}
.brand.logo a {
  text-decoration: none;
}
.navbar .navbar-inner {
  padding-left: 0px;
  padding-right: 0px;
}
.navbar .nav li a {
  padding: 24.2857142855px 17px 24.2857142855px;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 1px 0 #f2f2f2;
}
.navbar .nav > li {
  float: left;
}
.nav-underline {
  height: 6px;
  background-color: #71afc0;
}
.nav-login li a {
  color: white;
  padding: 10px 15px 10px;
}
.navbar .brand {
  margin-left: 0px;
  float: left;
  display: block;
}
.navbar-inner {
  min-height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ededed;
  background-image: -moz-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: -o-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: linear-gradient(to bottom, #f2f2f2, #e5e5e5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffe5e5e5', GradientType=0);
  border: 1px solid #c7c7c7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.brand.logo a {
  color: white;
}
.inline-icon {
  margin-bottom: 6px;
}
.row {
  margin-top: 15px;
  margin-bottom: 15px;
}
div[class*='span'] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.box {
  padding: 30px;
  background-color: white;
  margin-top: 8px;
}
.paper {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
.copy-headline {
  margin-top: 0px;
}
.box h1,
.box h2,
.box h3,
.box h4 {
  margin-top: -5px;
}
.nested {
  padding: 30px;
}
.box.div {
  padding: 30px;
}
span.read-more {
  margin-left: 15px;
  white-space: nowrap;
}
.forcetopalign {
  margin-top: 15px !important;
}
.forcetopmargin {
  margin-top: 23px !important;
}
.forceleftalign {
  margin-left: 15px !important;
}
.forceleftmargin {
  margin-left: 21px !important;
}
.textcenter {
  text-align: center;
}
.textright {
  text-align: right;
}
.textsmaller {
  font-size: 12px;
}
.modal-backdrop {
  opacity: 0.4;
}
/* generic page copy styles */
.copy-headline h1 {
  font-size: 21px;
}
/* =======================
   Sticky footer
======================= */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */

}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */

  margin: 0 auto -280px;
}
/* Set the fixed height of the footer here */
#push-the-footer,
#footer {
  height: 280px;
}
.main-row {
  padding-top: 50px;
}
#footer .footer {
  margin-top: 160px;
}
#footer .footer .ligaturesymbols {
  font-size: 30px;
  color: black;
}
#footer .footer .ligaturesymbols a {
  color: black;
}
#footer .footer .footerlist h3,
#footer .footer .footerlist h4 {
  /* correct the top alignment */

  margin-top: 0px;
}
.footer-landscape-image {
  position: absolute:
  bottom: 0;
  margin-bottom: 0;
  background-image: url('https://www.docker.io/static/img/website-footer_clean.svg');
  background-repeat: repeat-x;
  height: 280px;
}
.main-row {
  margin-top: 40px;
}
.sidebar {
  width: 215px;
  float: left;
}
.main-content {
  padding: 16px 18px inherit;
  margin-left: 230px;
  /* space for sidebar */

}
/* =======================
   Social footer
======================= */
.social {
  margin-left: 0px;
  margin-top: 15px;
}
.social .twitter,
.social .github,
.social .googleplus,
.social .facebook,
.social .slideshare,
.social .linkedin,
.social .flickr,
.social .youtube,
.social .reddit {
  background: url("../img/social/docker_social_logos.png") no-repeat transparent;
  display: inline-block;
  height: 32px;
  overflow: hidden;
  text-indent: 9999px;
  width: 32px;
  margin-right: 5px;
}
.social :hover {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.social .twitter {
  background-position: -160px 0px;
}
.social .reddit {
  background-position: -256px 0px;
}
.social .github {
  background-position: -64px 0px;
}
.social .googleplus {
  background-position: -96px 0px;
}
.social .facebook {
  background-position: 0px 0px;
}
.social .slideshare {
  background-position: -128px 0px;
}
.social .youtube {
  background-position: -192px 0px;
}
.social .flickr {
  background-position: -32px 0px;
}
.social .linkedin {
  background-position: -224px 0px;
}
form table th {
  vertical-align: top;
  text-align: right;
  white-space: nowrap;
}
form .labeldd label {
  font-weight: bold;
}
form .helptext {
  font-size: 12px;
  margin-top: -4px;
  margin-bottom: 10px;
}
form .fielddd input {
  width: 250px;
}
form .error {
  color: #a30000;
}
div.alert.alert-block {
  margin-bottom: 15px;
}
/* ======================= =======================
  Documentation
========================= ========================= */
/* =======================
  Styles for the sidebar
========================= */
.page-title {
  background-color: white;
  border: 1px solid transparent;
  text-align: center;
  width: 100%;
}
.page-title h4 {
  font-size: 20px;
}
.bs-docs-sidebar {
  padding-left: 5px;
  max-width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-top: 18px;
}
.bs-docs-sidebar ul {
  list-style: none;
  margin-left: 0px;
}
.bs-docs-sidebar .toctree-l2 > ul {
  width: 100%;
}
.bs-docs-sidebar ul > li.toctree-l1.has-children {
  background-image: url('../img/menu_arrow_right.gif');
  background-repeat: no-repeat;
  background-position: 13px 13px;
  list-style-type: none;
  padding: 0px 0px 0px 0px;
  vertical-align: middle;
}
.bs-docs-sidebar ul > li.toctree-l1.has-children.open {
  background-image: url('../img/menu_arrow_down.gif');
}
.bs-docs-sidebar ul > li > a {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 35px;
  padding-right: 20px;
  font-size: 14px;
  border-bottom: 1.5px solid #595959;
  line-height: 20px;
}
.bs-docs-sidebar ul > li:first-child.active > a {
  border-top: 1.5px solid #595959;
}
.bs-docs-sidebar ul > li:last-child > a {
  border-bottom: none;
}
.bs-docs-sidebar ul > li:last-child.active > a {
  border-bottom: 1.5px solid #595959;
}
.bs-docs-sidebar ul > li.active > a {
  border-right: 1.5px solid #595959;
  border-left: 1.5px solid #595959;
  color: #394d54;
}
.bs-docs-sidebar ul > li:hover {
  background-color: #e8e8e8;
}
.bs-docs-sidebar.toctree-l3 ul {
  display: inherit;
  margin-left: 15px;
  font-size: smaller;
}
.bs-docs-sidebar .toctree-l3 a {
  border: none;
  font-size: 12px;
  line-height: 15px;
}
.bs-docs-sidebar ul > li > ul {
  display: none;
}
.bs-docs-sidebar ul > li.current > ul {
  display: inline-block;
  padding-left: 0px;
  width: 100%;
}
.toctree-l2.current > a {
  font-weight: bold;
}
.toctree-l2.current {
  border: 1.5px solid #595959;
  color: #394d54;
}
/* =====================================
  Styles for the floating version widget
====================================== */
.version-flyer {
  position: fixed;
  float: right;
  right: 0;
  bottom: 40px;
  background-color: #E0E0E0;
  border: 1px solid #88BABC;
  padding: 5px;
  font-size: larger;
  max-width: 300px;
}
.version-flyer .content {
  padding-right: 45px;
  margin-top: 7px;
  margin-left: 7px;
  background-image: url('../img/container3.png');
  background-position: right center;
  background-repeat: no-repeat;
}
.version-flyer .active-slug {
  visibility: visible;
  display: inline-block;
  font-weight: bolder;
}
.version-flyer:hover .alternative {
  animation-duration: 1s;
  display: inline-block;
}
.version-flyer .version-note {
  font-size: 16px;
  color: black;
}
/* =====================================
  Styles for 
====================================== */
h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
  visibility: visible;
}
.headerlink {
  font-size: smaller;
  color: #666;
  font-weight: bold;
  float: right;
  visibility: hidden;
}
/* =====================================
  Miscellaneous information
====================================== */
.admonition.warning,
.admonition.note,
.admonition.seealso,
.admonition.todo {
  border: 3px solid black;
  padding: 10px;
  margin: 5px auto 10px;
}
.admonition .admonition-title {
  font-size: larger;
}
.admonition.warning,
.admonition.danger {
  border-color: #ac0004;
}
.admonition.note {
  border-color: #cbc200;
}
.admonition.todo {
  border-color: orange;
}
.admonition.seealso {
  border-color: #23cb1f;
}
/* Add styles for other types of comments */
.versionchanged,
.versionadded,
.versionmodified,
.deprecated {
  font-size: larger;
  font-weight: bold;
}
.versionchanged {
  color: lightseagreen;
}
.versionadded {
  color: mediumblue;
}
.deprecated {
  color: orangered;
}
