html,
body {
  margin: 0;
  font-size: 14px;
  background-color: #fff;
  height: 100%;
  width: 100%;
  font-family: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Content rendering styles */
#content {
  font-size: 1.2em;
  line-height: 1.8em;
}
#content h1 {
  padding: 0.5em 0em 0em 0em;
}
#content h2 {
  padding: 0.5em 0em 0.3em 0em;
}
#content h3 {
  padding: 0.7em 0em 0.3em 0em;
}
#content ul {
  margin: 1em 0em 1.2em 0.3em;
}
#content li {
  margin: 0.5em 0em 0.3em 0em;
}
#content p {
  margin-bottom: 1.2em;
}
#content pre {
  margin: 2em 0em;
  padding: 1em 2em !important;
  line-height: 1.8em;
  font-size: 1em;
}
#content code {
}
#content blockquote {
  background: #f2f2f2;
  border-left-color: #ccc;
}
#content blockquote p {
  line-height: 1.6em;
  margin-bottom: 0em !important;
}
#content  {
  
}
#content  {
  
}
/* Content rendering END */

/* Fix bootstrap madding (//padding) issue(s) */
.row {
  margin-left: 0;
  margin-right: 0;
}
[class^="col-"] > [class^="col-"]:first-child,
[class^="col-"] > [class*=" col-"]:first-child
[class*=" col-"] > [class^="col-"]:first-child,
[class*=" col-"]> [class*=" col-"]:first-child,
.row > [class^="col-"]:first-child,
.row > [class*=" col-"]:first-child{
  padding-left: 0px;
}
[class^="col-"] > [class^="col-"]:last-child,
[class^="col-"] > [class*=" col-"]:last-child
[class*=" col-"] > [class^="col-"]:last-child,
[class*=" col-"]> [class*=" col-"]:last-child,
.row > [class^="col-"]:last-child,
.row > [class*=" col-"]:last-child{
    padding-right: 0px;
}

/* Previous & Next floating navigation */
#nav_prev_next {
  position: fixed;
  bottom: 0; right: 1em;
  background: #fff !important;
  border: 1px solid #ccc;
  border-bottom: none;
  list-style: none;
  -webkit-border-radius: 7px 7px 0px 0px;
  -moz-border-radius: 7px 7px 0px 0px;
  border-radius: 7px 7px 0px 0px;
}
#nav_prev_next > li:hover > a {
  background: none;
}
#nav_prev_next > li:hover > a > span {
  color: #8fb0ba;
}
#nav_prev_next > li.prev {
  text-align: right;
}
#nav_prev_next > li.next {
  text-align: left;
}
#nav_prev_next > li > a {
  padding: 0.5em 0.7em !important;
}
#nav_prev_next > li > a > span {
  display: block;
  color: #a4c9d4;
  min-width: 75px;
}

/* Scroll to top button */
#scroll_to_top {
  position: fixed;
  bottom: 0; left: 1em;
  background: #fff !important;
  border: 1px solid #ccc;
  border-bottom: none;
  list-style: none;
  -webkit-border-radius: 7px 7px 0px 0px;
  -moz-border-radius: 7px 7px 0px 0px;
  border-radius: 7px 7px 0px 0px;
  font-weight: bold;
}
#scroll_to_top > li:hover > a {
  background: none;
}
#scroll_to_top > li:hover > a > span {
  color: #8fb0ba;
}
#scroll_to_top > li.prev {
  text-align: right;
}
#scroll_to_top > li.next {
  text-align: left;
}
#scroll_to_top > li > a {
  padding: 0.5em 0.7em !important;
}
#scroll_to_top > li > a > span {
  display: block;
  color: #a4c9d4;
  min-width: 75px;
}

/* Top navigation from Docker IO */
#header {
  margin-bottom: 0;
  width: 100%;
  height: 70px;
  z-index: 10;
  background-color: #f2f2f2;
}
#header .brand > img {
  height: 70px;
}
#header ul li a {
  padding: 25px 15px 25px 15px;
  color: #777777;
}
#header .navbar-nav {
    right: 0px;
    top: 0px;
    position: absolute;
}
#header .navbar-inner {
  padding-right: 0px;
  padding-left: 0px;
}
#header ul li.active {
  color: #555555;
  text-decoration: none;
  background-color: #d8d8d8;
}
#header ul li.active a:hover {
  background-color: #d8d8d8;
}
/* Horizontal Thin Sticky Menu */
#horizontal_thin_menu {
  width: 100%;
  background-color: #5992a3;
  height: 30px;
  color: white;
  text-align: right;
  padding: 5px 10px;
}
#horizontal_thin_menu > a {
  display: inline-block;
  color: white;
  padding: 0px 10px;
}

/* Submenu (dropdown) styling */
.dd_menu .dd_submenu {
  display: none;
  position: absolute;
  top: 50px;
  list-style: none;
  margin: 0px;
  margin-left: -15px;
  padding: 0.6em 0em;
  background: #fff;
  border: 1px solid #ccc;
  border-top: 0px;
  font-size: 18px;
  overflow-y: auto;
}
.dd_menu:hover .dd_submenu {
  display: block;
  padding: 0px;
}
.dd_menu:hover .dd_submenu li {
  padding: 0.2em 1em;
  width: 100%;
  border-top: 1px solid #f2f2f2;
}
.dd_menu:hover .dd_submenu li.active {
  background: #b1d5df;
  border-top: none;
}
.dd_menu:hover .dd_submenu li.active a {
  border-color: #b1d5df;
}
.dd_menu:hover .dd_submenu li:hover {
  background: #f2f2f2;
}
.dd_menu:hover .dd_submenu li a {
  color: #5992a3;
  text-decoration: none;
}

/* Main Docs navigaton menu (horizontal) */
#nav_menu {
  position: relative;
  width: 100%;
  background-color: #71afc0;
  padding: 0px 10px;
  color: white;
}
#nav_menu > #docsnav {
}
#nav_menu > #docsnav > #nav_search_toggle {
  display: none;
  margin-top: 10px;
}
#nav_menu > #docsnav > #nav_search {
  margin-top: 10px;
}
.search_input {
  height: 30px;
  color: #5992a3;
  font-weight: bold;
  padding: 10px 5px;
  background: #b1d5df;
  border: 1px solid #71afc0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.search_input:focus {
  background: #fff;
}
.search_input::-webkit-input-placeholder {
  color: #71afc0;
}
#nav_menu > #docsnav > span {
  display: none;
  float: left;
  height: 50px;
  font-size: 1.2em;
  padding: 0em 14px;
  padding-top: 12px;
}
#nav_menu > #docsnav > .arrow {
  display: none;
}
#nav_menu > #docsnav > #main-nav {
  height: 50px;
  margin: 0px;
  padding: 0em;
}
#nav_menu > #docsnav > #main-nav > li {
  display: block;
  padding: 0em 1em;
  height: 100%;
  padding-top: 12px;
}
#nav_menu > #docsnav > #main-nav > li.active {
  background: #5992a3;
}
#nav_menu > #docsnav > #main-nav > li:hover {
  background: #b1d5df;
}
#nav_menu > #docsnav > #main-nav > li > a {
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
}
#nav_menu > #docsnav > #main-nav > li:hover > a {
  color: #5992a3;
}
#nav_menu > #docsnav > #main-nav > li > a > span > b {
  border-top-color: #b1d5df !important;
}
#nav_menu > #docsnav > #main-nav > li:hover > a > span > b {
  border-top-color: #71afc0 !important;
}
#nav_menu > #docsnav > #main-nav > li form {
  margin-top: -12px;
}

/* TOC (Left) */
#toc_table {
  padding-left: 1em;
}
#toc_table > h2 {
  margin: 0px;
  font-size: 1.5em;
  font-weight: bold;
  color: #71afc0;
}
#toc_table > h3 {
  font-size: 1.2em;
  color: #4291d1;
  font-weight: bold;
}
#toc_table ul li {
  color: #444;
  font-size: 1.2em;
  padding-bottom: 0px;
}
#toc_table ul li.active {
  font-weight: bold;
  letter-spacing: 1px;
}
#toc_table ul li a {
  padding: 0.4em 0.5em 0.4em 0em;
}
#toc_table ul li a:hover {
  color: #71afc0;
  background: none;
}
#toc_table .bs-sidenav {
  margin: 0;
}

/* Main content area */
#content {
  margin-left: -15px;
}
ol.breadcrumb {
  padding: 0.5em;
  margin-bottom: 0.5em;
  margin-left: -15px;
  background-color: #fff;
  border: 1px solid #5992a3;
}
#content h1 {
  margin-top: 0px;
}

/* Footer from original CSSs */
@media (min-width: 960px) {
  #footer {
    height: 450px;
  }
  #footer .container {
    max-width: 952px;
  }
  footer,
  .footer {
    margin-top: 160px;
  }
  footer .ligaturesymbols,
  .footer .ligaturesymbols {
    font-size: 30px;
    color: black;
  }
  footer .ligaturesymbols a,
  .footer .ligaturesymbols a {
    color: black;
  }
  footer .footerlist,
  .footer .footerlist {
    float: left;
    margin: 3px;
    margin-right: 30px;
  }
  footer .footer-items-right,
  .footer .footer-items-right {
    text-align: right;
    margin-top: -6px;
    float: right;
  }
  footer .footer-licence,
  .footer .footer-licence {
    line-height: 2em;
  }
  footer form,
  .footer form {
    margin-bottom: 0px;
  }
  .footer-landscape-image {
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    background-image: url('../img/website-footer_clean.svg');
    background-repeat: repeat-x;
    height: 450px;
    position: relative;
    clear: both
  }
  .social {
    margin-left: 0px;
    margin-top: 15px;
  }
  .social .twitter,
  .social .github,
  .social .googleplus,
  .social .facebook,
  .social .slideshare,
  .social .linkedin,
  .social .flickr,
  .social .youtube,
  .social .reddit {
    background: url("../img/social/docker_social_logos.png") no-repeat transparent;
    display: inline-block;
    height: 32px;
    overflow: hidden;
    text-indent: 9999px;
    width: 32px;
    margin-right: 5px;
  }
  .social :hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  .social .twitter {
    background-position: -160px 0px;
  }
  .social .reddit {
    background-position: -256px 0px;
  }
  .social .github {
    background-position: -64px 0px;
  }
  .social .googleplus {
    background-position: -96px 0px;
  }
  .social .facebook {
    background-position: 0px 0px;
  }
  .social .slideshare {
    background-position: -128px 0px;
  }
  .social .youtube {
    background-position: -192px 0px;
  }
  .social .flickr {
    background-position: -32px 0px;
  }
  .social .linkedin {
    background-position: -224px 0px;
  }
  ul.unstyled,
  ol.unstyled {
    margin-left: -40px;
    list-style: none;
  }
}

/*****************************
*   Mobile CSS Adjustments   *
*****************************/

/* Horizontal nav. (menu & thin menu) convenience fix for Tablets */
@media (min-width: 768px) and (max-width: 999px) {

  #docsnav, #horizontal_thin_menu {
    width: 100% !important;
  }

}

@media (max-width: 991px) {

  /* TOC Table (Left) */
  #toc_table {
    padding: 1em;
    margin: 0em -15px 15px 0em;
    background: #fff;
    -webkit-border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  #toc_table > h2 {
    margin-bottom: 0.3em;
    font-size: 2em;
  }
  #toc_table > h3 {
    display: block;
    margin: 0;
  }
  #toc_table > #toc_navigation {
    display: none;
  }
  #toc_table > #toc_navigation > li:first-child {
    margin-top: 1em !important;
  }

}

@media (max-width: 800px) {

  /* Dropdown Submenu adjust */
  .dd_menu .dd_submenu li {
    padding: 1.2em 1em !important;
  }

  /* Disable breadcrumbs */
  ol.breadcrumb {
    display: none;
  }

  /* Shrink main navigation menu to one item (i.e., form breadcrumbs) */
  #nav_menu > #docsnav > #main-nav > li {
    display: none;
  }
  #nav_menu > #docsnav > #main-nav > li.active {
    display: block;
    background: #71afc0;
  }
  #nav_menu > #docsnav > #main-nav > li.active:hover {
    background: #b1d5df;
  }
  #nav_menu > #docsnav > span {
    display: block;
  }
  #nav_menu > #docsnav > span:hover {
    background: #b1d5df;
  }
  #nav_menu > #docsnav > span > b {
    border-top-color: #b1d5df !important;
  }
  #nav_menu > #docsnav > span:hover > b {
    border-top-color: #71afc0 !important;
  }
  #nav_menu > #docsnav > .arrow {
    display: block;
  }

  /* Prev Next for Mobile */
  #nav_prev_next {
    background: #f2f2f2;
    border-bottom: none;
    list-style: none;
    -webkit-border-radius: 7px 0px 0px 7px;
    -moz-border-radius: 7px 0px 0px 7px;
    border-radius: 7px 0px 0px 7px;
    border: 1px solid #ccc;
    font-weight: bold !important;
  }
  #nav_prev_next > li > a {
    padding: 0.5em 0.7em !important;
  }
  #nav_prev_next > li > a > span, i {
    display: none;
  }

  /* Scroll up */
  #scroll_to_top {
    background: #f2f2f2;
    border-bottom: none;
    list-style: none;
    -webkit-border-radius: 0px 7px 7px 0px;
    -moz-border-radius: 0px 7px 7px 0px;
    border-radius: 0px 7px 7px 0px;
    border: 1px solid #ccc;
  }
  #scroll_to_top > li > a {
    padding: 0.5em 0.7em !important;
  }
  #scroll_to_top > li > a > span, i {
    display: none;
  }

  /* Main Content Clip */
  #content {
    max-width: 100%;
  }

  /* Thin menu (login - signup) */
  #horizontal_thin_menu { display: none; }

}

@media (max-width: 850px) {
  /* Docker IO Navigation */
  #header {
    display: block;
    height: 50px;
  }
  #header #nav_docker_io {
    display: none;
  }
  #header .brand {
    display: block;
    text-align: center;
  }
  #header .brand > img {
    height: 50px;
  }
}

@media (max-width: 999px) {

  /* Search on mobile */
  #nav_menu > #docsnav > #nav_search {
    display: none;
  }
  #nav_menu > #docsnav > #nav_search_toggle {
    display: block;
    margin-top: 10px;
  }

  #nav_menu > #docsnav {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

}